In [34]:
import pandas as pd
import numpy as np

In [35]:
ReviewNP = pd.read_excel("긍정확률 개선.xlsx")

In [36]:
ReviewNP.columns

Index(['Unnamed: 0', '상품명', '평점', '리뷰내용', '긍정확률'], dtype='object')

In [37]:
평가항목평균 = ReviewNP.groupby('상품명')['긍정확률','평점'].mean()

c:\users\alsrn\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [39]:
ReviewTest = pd.DataFrame(평가항목평균)
ReviewTest.rename(columns = {'긍정확률' : '소비자리뷰점수', '평점' : '소비자평점지수'}, inplace = True)

In [40]:
소비자평가지수

                     소비자리뷰점수   소비자평점점수
상품명
Y라인방지 속치마바지        90.632546  4.555556
♥특가 이벤트 4종 모음전♥    92.246536  4.382353
가넷 셔링 브이나시         88.828314  4.500000
가든파티 벨벳 나시&가디건set  93.377829  4.400000
가람 베이직 롱스커트        94.423362  5.000000
...                      ...       ...
히치 유넥티             96.164821  4.950000
히트 롱스커트            97.447373  4.666667
히피 스퀘어 블라우스        94.168714  4.416667
힐리 귀걸이             98.296757  5.000000
힙스 조거팬츠            86.125729  4.700000

[2167 rows x 2 columns]

In [41]:
소비자평가지수.to_excel("소비자평가지수.xlsx")