In [34]:
import pandas as pd
import numpy as np

In [35]:
환불비율 = pd.read_excel("2021080308052.xlsx")
전체데이터 =pd.read_excel("data333.xlsx")

In [43]:
환불비율

                                  상품명  결제수량  환불수량
0        [La belle rose]웨이빙 여리핏 텐셀가디건  12.0   0.0
1    [La belle rose/1+1♥]도넌 심플 유넥 반팔티  13.0   1.0
2              [La belle rose]페이어 유넥티  14.0   2.0
3                       오네스 플레어 미니스커트  11.0   1.0
4                      립스 플라워 퍼프미니원피스  10.0   1.0
..                                ...   ...   ...
661                     하이딘 뷔스티에 롱원피스   0.0   2.0
662                               NaN   NaN   NaN
663                       라이키 슬림 일자팬츠   0.0   3.0
664                               NaN   NaN   NaN
665                       조엔 카라 골지원피스   0.0   5.0

[666 rows x 3 columns]

In [50]:
전체데이터.shape

(363, 1)

In [45]:
df= pd.merge(전체데이터, 환불비율, how="left",on="상품명")

In [49]:
df.groupby("상품명")["결제수량"]

In [39]:
df.columns

Index(['상품명', '결제수량', '환불수량'], dtype='object')

In [40]:
df=df.drop(columns=['순위','상품코드','옵션','판매가_x','재고'],axis=1)

KeyError: "['순위' '상품코드' '옵션' '판매가_x' '재고'] not found in axis"

In [41]:
df

                               상품명  결제수량  환불수량
0                    드민 플라워 쉬폰롱원피스   6.0   7.0
1    [La belle rose]레이니 찰랑 미니 훌원피스   9.0   1.0
2    [La belle rose]레이니 찰랑 미니 훌원피스  12.0   8.0
3     [La belle rose]로제 스퀘어 미니훌원피스   3.0   0.0
4     [La belle rose]로제 스퀘어 미니훌원피스   2.0   0.0
..                             ...   ...   ...
463                      미소 리본 헤어핀   1.0   0.0
464                        플릿 헤어밴드   NaN   NaN
465                       바닐라 헤어밴드   NaN   NaN
466                         바비 귀걸이   2.0   1.0
467                         프에 귀걸이   0.0   1.0

[468 rows x 3 columns]

In [42]:
df.to_excel('20210803~20210805다시.xlsx',index=False)