In [81]:
import numpy as np
import pandas as pd

In [82]:
R = pd.read_csv("C:/Users/alsrn/파이썬/프롬데이원 1분기 최근 구매일 점수 .csv")
F = pd.read_csv("C:/Users/alsrn/파이썬/프롬데이원 1분기 주문수 점수 .csv")
M = pd.read_csv("C:/Users/alsrn/파이썬/프롬데이원 1분기 구매액 점수 .csv")

In [83]:
print(R.head())
print(R.shape)

                   주문자ID번호  M점수
0    rain3770010-3298-3375    1
1   sominnara010-6505-6625    1
2  33127561@n010-6857-8723    1
3  70359972@n010-3080-0528    1
4  silentna89010-6315-0720    1
(4774, 2)

In [84]:
print(F.head())
print(F.shape)

                  주문자ID번호  F점수
0  amber0504010-0000-0000    5
1  amanda123010-4786-6885    5
2       wood010-9599-9787    5
3     vminis010-8006-1617    5
4    sjin829010-3422-7118    5
(4774, 2)

In [85]:
print(M.head())
print(M.shape)

              주문자ID번호  R점수
0         오주영juyo****    1
1  spi41010-3397-5841    1
2       010-3383-9815    1
3         김현지happ****    1
4         박시은104t****    1
(4774, 2)

In [86]:
RF = pd.merge(R, F, on="주문자ID번호")
RFM = pd.merge(RF,M, on="주문자ID번호")

In [87]:
RFM.shape

(4774, 4)

In [88]:
RFM

                      주문자ID번호  M점수  F점수  R점수
0       rain3770010-3298-3375    1    2    2
1      sominnara010-6505-6625    1    1    1
2     33127561@n010-6857-8723    1    2    1
3     70359972@n010-3080-0528    1    3    2
4     silentna89010-6315-0720    1    3    5
...                       ...  ...  ...  ...
4769      emihui010-8369-5115    5    3    3
4770              김다예daye****    5    2    1
4771    wldmsd22010-2260-4430    5    4    5
4772  ohninipink010-9538-0114    5    4    4
4773      spqu55010-5550-2683    5    2    1

[4774 rows x 4 columns]

In [89]:
RFM["RFM점수"] = RFM["M점수"]+RFM["F점수"]+RFM["R점수"]

In [72]:
# RFM["W_RFM점수"]  = 0.5 * RFM["M점수"] + 0.3 * RFM["F점수"] + 0.8* RFM["R점수"]

In [90]:
RFM[:10]

                     주문자ID번호  M점수  F점수  R점수  RFM점수
0      rain3770010-3298-3375    1    2    2      5
1     sominnara010-6505-6625    1    1    1      3
2    33127561@n010-6857-8723    1    2    1      4
3    70359972@n010-3080-0528    1    3    2      6
4    silentna89010-6315-0720    1    3    5      9
5  1168491540@k010-9622-1190    1    2    2      5
6    40719331@n010-2506-9021    1    2    1      4
7  pianistangel010-4123-5494    1    2    1      4
8       ygo0416010-3510-7423    1    2    1      4
9    58662105@n010-6440-4759    1    3    4      8

In [57]:
RFM["W_RFM점수"].sort_values()

546     1.6
456     1.6
589     1.6
235     1.6
356     1.6
       ...
4302    8.0
3769    8.0
3676    8.0
3246    8.0
3153    8.0
Name: W_RFM점수, Length: 4776, dtype: float64

### 2분기 RFM

In [91]:
R = pd.read_csv("C:/Users/alsrn/파이썬/프롬데이원 2분기 최근 구매일 점수.csv")
F = pd.read_csv("C:/Users/alsrn/파이썬/프롬데이원 2분기 주문수 점수.csv")
M = pd.read_csv("C:/Users/alsrn/파이썬/프롬데이원 2분기 구매액 점수.csv")

In [92]:
print(R.head())
print(R.shape)

                    주문자ID번호  R점수
0    6773359@n010-9381-5574    5
1   49938077@n010-8288-1034    5
2       plom90010-4209-3577    5
3             010-2926-1299    5
4  dlagmltmd95010-3205-7859    5
(4774, 2)

In [93]:
RF = pd.merge(R, F, on="주문자ID번호")
RFM = pd.merge(RF,M, on="주문자ID번호")

In [94]:
RFM["RFM점수"] = RFM["M점수"]+RFM["F점수"]+RFM["R점수"]

In [79]:
# RFM["W_RFM점수"]  = 0.5 * RFM["M점수"] + 0.3 * RFM["F점수"] + 0.8* RFM["R점수"]

In [95]:
RFM

                             주문자ID번호  R점수  F점수  M점수  RFM점수
0             6773359@n010-9381-5574    5    3    4     12
1            49938077@n010-8288-1034    5    3    3     11
2                plom90010-4209-3577    5    4    4     13
3                      010-2926-1299    5    3    1      9
4           dlagmltmd95010-3205-7859    5    2    2      9
...                              ...  ...  ...  ...    ...
4769                   010-7414-4920    1    2    2      5
4770  755214608592690@f010-4099-9220    1    2    1      4
4771       1601304767@k010-2316-3350    1    2    2      5
4772                     정혜빈jhb8****    1    1    1      3
4773                     문지희appl****    1    2    1      4

[4774 rows x 5 columns]

In [96]:
from tqdm import tqdm